@import '../node_modules/react-big-calendar/lib/css/react-big-calendar.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.large-text {
  font-size: 2em;
  font-weight: bold;
}

.shadow-btn {
  background-color: lightblue !important;
  box-shadow: 0 1rem 3rem rgba(black, .2);
}

.btn-active {
  background-color: white;
  transition: 0.3s;
}
.btn-active:hover {
  background-color: lightgray;
}
.btn-active:active {
  border: 1px solid black;
  background-color: lightblue;
}